.jumbotron h2 {
    font-weight: bold;
    color: #5a81cac4;
    font-size: 70px;
  }

.jumbotron {
    text-align: center;
    background: silver;
  }

.jumbotron img {
    width: 100%;
    height: 40vh;
  }

.entrada {
    width: 100%;
    height: 150px;
    border: solid 3px #5a81cac4;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    padding: 12px;
    margin: 6px 12px 6px 0;
    float: left;
}

.entrada__interactivo {
    width: 50%

}

.entrada img {
  float: left;
  max-width: 100px;
  margin: 0 15px 5px 0; 
}

.entrada__like {
  color: #5a81cac4;
  padding: 5px;
  transition: all .35s ease-out;
  float: left;
}

.entrada__texto {
  text-align: left;
  margin: 5px;
  overflow: hidden;
  max-height: 70px;
  overflow: scroll;
}

.entrada__like--red {
  color: rgb(247, 20, 198);
}

.casilla__imagen {
  width: 120px;
  margin: 5px; 
  float: left;
}

.entrada__borrar {
  padding: 5px;
  transition: all .35s ease-out;
  float: right;
}

.casilla {
  align-content: center;
  display: block;
  display: inline;
}